body{
  background-color: white;
}
.wrap{
  max-width: 100%;
  margin: 0 auto;
}
.gridwrap{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto auto 1fr;
  align-items: center;
  row-gap: 30px;
  position: relative;
  justify-items: center;
}
.gridwrap::before{
  content: "";
  display: block;
  width: 90%;
  position: absolute;
  top: 0;
  height: 1px;
  background-color: #eee;
}
/* 폰트 */
.h3{
  font-size: 50px;
  font-weight: bold;
  grid-row: 1;
  justify-self: left;
}
.p{
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: -2px;
  color: #555;
  justify-self: left;
}
.span{

  font-size: 20px;
  font-weight: bold;
  justify-self: left;
}
.divP{
  font-weight: bold;
  letter-spacing: -1px;
}
/* 패딩 */
.padding{
  padding: 150px 0px 150px 200px;
}
.padding50{
  padding: 50px;
}
.paddingT50{
  padding-top: 50px;
}
.paddingR50{
  padding-right: 50px;
}
.paddingB50{
  padding-bottom: 50px;
}
.paddingL50{
  padding-left: 50px;
}
.padding-tb100{
  padding: 100px 0;
}
/* 마진 */
.intro{
  padding-left: 200px;
}
.margin50{
  margin: 50px;
}
.marginT50{
  margin-top: 50px;
}
.marginR50{
  margin-right: 50px;
}
.marginB50{
  margin-bottom: 50px !important;
}
.marginL50{
  margin-left: 50px;
}
.h1{
  font-size: 64px;
}
.h2{
  font-size: 54px;
  text-transform: capitalize;
  margin-bottom:20px;
  font-weight: 200;
}
.h4{
  color: #777;
}
.h5{

  font-size: 25px;
  letter-spacing: -0.8px;
  font-weight: bold;
  margin-top: 10px;
}
.h6{
  font-size: 20px;
}
/* flex */
.flex{
  display: flex;
}
.between{
  justify-content: space-between;
}
.center{
  justify-content: center;
}
.align-center{
  align-items: center;
}
.column{
  flex-direction: column;
}
.flex-wrap{
  flex-wrap: wrap;
}


/* 블럭,인라인 */
.block{
  display: block;
  padding: 20px 30px;
  background-color: #f8f8f8;
  border-radius: 30px;
  justify-self: left;
}
.block::after{
  display: inline-block;
  content: "";
  background: url(../img/3h.png) no-repeat center /cover;
  width: 40px;
  height: 10px;
}

/* 정렬 */
.text-center{
  text-align: center;
}

/* 둥근모서리 */
.borderR30{
  border-radius: 30px;
}

/* 라인 */
.line{
  border-left: 1px solid #ccc;
  height: 10px;
  display: inline-block;
  margin: 0 10px;
}
.border-top{
  /*! border-top: 1px solid #eee; */ 
}

/* 안보이게 */
.hide{
  display: none !important;
  font-size: 0;
}
.hidden{
  overflow: hidden;
}

/* 높이 */
.vh100{
  height: 100vh;
  box-sizing: border-box;
  min-height: 800px;
}
.h100{
  height: 100%;
}
.eng{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* 너비 */
.w100{
  width: 100%;
}









