footer {

  padding: 50px 20px;
}
footer .wrap {
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  grid-template-rows: auto auto auto;
  padding: 0 30px;
  row-gap: 30px;
  column-gap: 15px;
}
footer .wrap h1 {
  grid-row: 1;
  grid-column: 1;
  font-size: 0;
  background-image: url(../img/footer_logo.png);
  width: 195px;
  height: 31px;
  background-repeat: no-repeat;
}
footer .wrap address {
  grid-row: 4;
  grid-column: 1;
}
footer .wrap span{
  grid-column: 1;
  grid-row: 3;
  display: flex;
  gap: 20px;
}
footer .wrap span a{
  
}
footer .wrap ul{
  grid-column: 4;
  grid-row: 3;
  display: flex;
  align-items: center;
  gap: 40px;
}
footer .wrap ul li{

}
footer .wrap ul li a{
  font-size: 0;
}
footer .wrap ul li a::after{
  background-image: url(../img/youtube.png);
  width: 20px;
  height: 20px;
  background-size: contain;
}
footer .wrap ul li:nth-child(2) a::after{
  background-image: url(../img/facebook.png);
}
footer .wrap ul li:nth-child(3) a::after{
  background-image: url(../img/insta.png);
}
footer .wrap ul li:nth-child(4) a::after{
  background-image: url(../img/naver.png);
}
footer .wrap ul li:nth-child(5) a::after{
  background-image: url(../img/aklover.png);
  width: 75px;
  height: 13px;
}
footer .wrap p {

  grid-column: 2;
  grid-row: 4;
  display: block;
}
