section#peasonal {
  
}
section#peasonal .gridwrap {
  width: 100%;
}
section#peasonal .gridwrap h3.span{

}
section#peasonal .gridwrap span.h3{

}
section#peasonal .gridwrap p.p{

}
section#peasonal .gridwrap a.block{

}
section#peasonal .gridwrap ul {
  grid-column: 2;
  grid-row: 1 / span 5;
  gap: 20px;
  width: 100%;
}
section#peasonal .gridwrap ul .slick-dots li button::before{
  display: none;
}
section#peasonal .gridwrap ul li {
  height: 100%;
  width: 100%;
}
section#peasonal .gridwrap ul li a {
  font-size: 0;
}
section#peasonal .gridwrap ul li a::after{
  width: 312px;
  height: 397px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  display: block;
}
section#peasonal .gridwrap ul li:nth-child(1) a::after{ 
  background-image: url(../img/peasonal1.jpg);
}
section#peasonal .gridwrap ul li:nth-child(2) a::after{
  background-image: url(../img/peasonal2.jpg);
}
section#peasonal .gridwrap ul li:nth-child(3) a::after{
  background-image: url(../img/peasonal3.jpg);
}
section#peasonal .gridwrap ul li:nth-child(4) a::after{
  background-image: url(../img/peasonal4.jpg);
}
section#peasonal .gridwrap ul li:nth-child(5) a::after{
  background-image: url(../img/peasonal5.jpg);
}